<div class="home-container">
  <div class="content">
    <div class="text-section">
      <h1>Master Your Exams with <span>Books Troupe</span></h1>
      <p>
        Explore top-quality academic books and entrance exam guides for NEET, JEE, UPSC, SSC, and more — all in one place.
      </p>
      <a routerLink="/books" class="btn">Shop Now</a>
    </div>

    <div class="image-section">
        <img src="assets/img-1.jpg" alt="Books Logo" />
        <!-- <img [src]="'assets/img-1.jpg'" alt="Books Logo" /> -->
      <!-- <img src="./assets/img-1.jpg" alt="Books Logo" />  -->
    </div>
  </div>
</div>
