<div *ngIf="book" class="book-detail-container">
  <h2>{{ book.title }}</h2>
  <img [src]="book.imageUrl" alt="{{ book.title }}" />
  <p><strong>Author:</strong> {{ book.author }}</p>
  <p><strong>Language:</strong> {{ book.language }}</p>
  <p><strong>Condition:</strong> {{ book.condition }}</p>
  <p><strong>Description:</strong> {{ book.description }}</p>
  <p><strong>Format:</strong> {{ book.format }}</p>
  <p><strong>Price:</strong> ₹{{ book.price }}</p>

  <button class="btn btn-primary" (click)="addToCart()">
  Add to Cart
</button>
</div>



