<div *ngIf="book" class="book-detail-container">
  <h2>{{ book.title }}</h2>
  <img [src]="'https://localhost:7231' + book.imageUrl" alt="{{ book.title }}" />
  <p><strong>Author:</strong> {{ book.author }}</p>
  <p><strong>Language:</strong> {{ book.language }}</p>
  <p><strong>Condition:</strong> {{ book.condition }}</p>
  <p><strong>Description:</strong> {{ book.description }}</p>
  <p><strong>Format:</strong> {{ book.format }}</p>
  <p><strong>Price:</strong> ₹{{ book.price }}</p>

  <button class="btn btn-primary me-2" (click)="addToCart()">
  <i class="bi bi-cart-plus"></i> Add to Cart
</button>

<button class="btn btn-outline-secondary" (click)="goBack()">
    <i class="bi bi-arrow-left"></i> Back to Books
  </button>

  <div *ngIf="isAdmin" class="admin-actions mt-4">
    <button class="btn btn-warning me-2" (click)="onEdit(book.id)">
      <i class="bi bi-pencil-square"></i> Edit Book
    </button>
    <button class="btn btn-danger" (click)="onDelete(book.id)">
      <i class="bi bi-trash"></i> Delete Book
    </button>
</div>